#one:hover {
    background-color: #000;
    color: #fff;
}

#two::first-letter {
    color: #ff0000;
    font-size: 30px;
}

div {
    border: solid 2px #ccc;
}

#nome:focus {
    box-shadow: inset 0 0 5px #00ff00;
}

#nome::placeholder {
    color: blue;
}

#nao-informar:checked {
    height: 50px;
}

#outro:checked {
    width: 50px;
}

h3:nth-child(2) {
    background-color: lightblue;
}

h3::selection {
    color: yellow;
    background-color: rebeccapurple;
}

h3:first-child {
    background-color: royalblue;
}

h3:last-child {
    background-color: saddlebrown;
}

#six:disabled {
    background-color: #d19999;
}

#seven:enabled {
    background-color: #97e297;
}