@import url('https://fonts.googleapis.com/css2?family=Glory:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100%;
    height: 100vh;
}

.image {
    background-image: url(https://images3.alphacoders.com/726/thumb-1920-726956.jpg);
    background-position: center;
    background-size: cover;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffc6ff;
    font-size: 50px;
    font-family: 'Glory', sans-serif;
}

button {
    width: 60px;
    height: 35px;
    border-radius: 10px;
}